.GameBox {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    margin-top: 5rem;
}

.Game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    user-select: none;
}

.Presidents {
    display: flex;
    flex-direction: row;
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.GameBtnBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.GameBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 3rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 2rem;
}

.GameBtn:hover {
    transform: scale(1.1);
}

.ReturnBtn {
    background-color: rgba(206, 0, 0, 0.8);
}

.RestartBtn {
    border: 0;
    background-color: rgba(0, 26, 255, 0.95);
}

@media (max-width: 1000px) {

    .Presidents {
        width: 100%;
    }

    .GameBtnBox {
        margin-top: 1rem;
    }

    .GameBtn {
        width: 50%;
        height: 2rem;
        font-size: 1rem;
        margin: 1rem;
    }
}