.Home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    user-select: none;
}

.Cities {
    border: 1px solid black;
    width: 100%;
}

.Statue {
    display: none;
    border-bottom: .8rem solid black;
    border-top: .2rem solid white;
}

.Jets {
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: .75;
    bottom: 25%;
    filter: invert();
}



@media (max-width: 1000px) {

    .Jets {
        position: absolute;
        z-index: 1;
        width: 100%;
        opacity: .75;
        bottom: 60%;
    }

    .Cities {
        display: none;
    }

    .Statue {
        display: block;
        width: 100%;
    }

}