.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Cities {
    width: 100%;
}

.Jets {
    position: absolute;
    filter: invert();
    bottom: -90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {

    .Jets {
        display: none;
    }
}