.Timer {
    position: absolute;
    font-size: 2rem;
    font-family: 'clock';
    color: rgb(225, 0, 0);
    width: 5rem;
    right: 1%;
    top: 5%;
}


@media (max-width: 1000px) {

    .Timer {
        right: 0%;
        font-size: 1.5rem;
    }




}