html {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
}

#root {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@font-face {
  font-family: 'hello';
  src: url('/src/assets/fonts/hello.ttf') format('truetype');
}

@font-face {
  font-family: 'clock';
  src: url('/src/assets/fonts/clock.ttf') format('truetype');
}