.NavMenu {
    position: fixed;
    top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #333333;
    font-family: sans-serif;
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    transition: .1s ease;
    overflow-y: hidden;
}

.NavMenuOpen {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

.NavMenuItem {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 90%;
    color: white;
    border-right: 1px solid white;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(100%);
    user-select: none;
}

.NavMenuItemOpen {
    transform: translateX(0);
    opacity: 1;

}

.NavMenuItem:nth-child(2) {
    background-color: rgb(89, 89, 89);
    ;
}

.NavMenuItem:nth-child(3) {
    border: none;
}

.NavMenuItem>p {
    text-align: center;
    width: 90%
}

.NavList {
    font-family: 'america';
    font-size: 3rem;
    padding: 0;
    list-style: none;
    width: 90%;
}

.NavList>li {
    margin: 1rem;
}

.NavList>li>a {
    position: relative;
    transition: color 0.3s ease;

    text-decoration: none;
    color: white;
}

.NavList>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.NavList>li>a:hover {
    cursor: pointer;
    color: red;
}

.NavList>li>a:hover::before {
    background-color: red;
    transform: scaleX(1);
}

.MenuFlag {
    user-select: none;
    pointer-events: none;
    margin-top: 4rem;
    width: 15rem;
}

.Eagle {
    margin-top: 1rem;
}

@media (max-width: 1000px) {

    .NavMenu {
        flex-direction: column;
        justify-content: flex-start;
        height: 90%;
    }

    .NavMenuItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 95%;
        height: auto;
        color: white;
        border: none;
        margin: .5rem;
    }

    .NavList {
        font-size: 2rem;
    }

}