.Results {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(18px);
    margin-top: 1rem;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(202, 202, 202);
    margin-bottom: 6rem;
}

.ResultTitle {
    font-family: 'hello';
    font-size: 8rem;
    text-align: center;
}

.ResultStat {
    text-align: center;
    font-family: 'hello';
    font-size: 3rem;
}

@media (max-width: 1000px) {


    .Results {
        width: 90%;
        justify-content: center;
    }

    .ResultTitle {
        font-family: 'hello';
        font-size: 4rem;
    }

    .ResultStat {
        font-family: 'hello';
        font-size: 2rem;
    }

}