.HomeArticle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
    overflow: hidden;
    z-index: 3;
}

.JetBuffer {
    top: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 20rem;
    background-color: white;
}

.WelcomeTitle {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background-color: white;
    font-size: 5rem;
    margin-top: 0rem;
    z-index: 10;
    padding: 2rem;
    transition: transform 0.5s ease-in-out;
    transform: translateY(-100%);
}

.SlideTitle {
    transform: translateY(0%);
    /* Adjust the value as needed */
}

.InfoGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 2rem;
}

.GridItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1;
}

.GridItem1 {
    transform: translateX(-100%);
}

.GridItem2 {
    transform: translateX(100%);
}

.GridItem3 {
    transform: translateY(100%);
}

.GridItem4 {
    transform: translateY(100%);
}


.Slide1 {
    transform: translateX(0);
    opacity: 1;
}

.Slide2 {
    transform: translateX(0);
    opacity: 1;
}

.Slide3 {
    transform: translateY(0);
    opacity: 1;
}

.Slide4 {
    transform: translateY(0);
    opacity: 1;
}

.GridTitle {
    font-size: 2.5rem;
    color: rgb(32, 32, 32);
}

.GridP {
    text-align: center;
    width: 90%;
    font-size: 1.3rem;
    color: rgb(93, 93, 93);
    font-style: italic;
}

.GridImage {
    border-radius: .2rem;
    width: 90%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.GridBtn {
    box-sizing: border-box;
    margin-top: 5rem;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    transition: transform 0.2s ease-in-out;
    border: 0;
}

.GridBtn:hover {
    transform: scale(1.1);
}

.PresidentBtn {
    background-color: navy;
}

.HistoryBtn {
    background-color: crimson;
}

@media (max-width: 1000px) {

    .WelcomeTitle {
        font-size: 3rem;
        margin: 1rem;
    }

    .InfoGrid {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .GridItem1 {
        order: 2;
    }

    .GridItem2 {
        order: 1;
    }

    .GridBtn {
        margin-top: 2rem;

    }

}