.PresidentMenu {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(33, 33, 33);
    font-family: sans-serif;
    user-select: none;
}

.PresidentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.PresidentInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    color: white;
}

.PresidentInfoBox>h1 {
    text-align: center;
    font-size: 5rem;
}

.PresidentInfoImage {
    width: 90%;
}




@media (max-width: 1000px) {

    .PresidentInfo {

        flex-direction: column;

    }

    .PresidentInfoBox {
        margin: 1rem;
        width: 90%;

    }

    .PresidentInfoBox>h1 {
        width: 100%;
        ;
        font-size: 2rem;
    }

}